################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlekoFramework/.vs/FlekoFramework/v15
/FlekoFramework/Common/bin
/FlekoFramework/Common/obj
/FlekoFramework/Common.Accounts/bin
/FlekoFramework/Common.Accounts/obj
/FlekoFramework/Common.Logging.Windows/bin
/FlekoFramework/Common.Logging.Windows/obj
/FlekoFramework/Common.Math/bin
/FlekoFramework/Common.Math/obj
/FlekoFramework/Common.Network/bin
/FlekoFramework/Common.Network/obj
/FlekoFramework/Common.Plugins/bin
/FlekoFramework/Common.Plugins/obj
/FlekoFramework/Common.Plugins.Windows/bin
/FlekoFramework/Common.Plugins.Windows/obj
/FlekoFramework/Common.Serizalization.Windows/bin
/FlekoFramework/Common.Serizalization.Windows/obj
/FlekoFramework/Common.Video/bin
/FlekoFramework/Common.Video/obj
/FlekoFramework/Common.Serialization.Xml/bin
/FlekoFramework/Common.Serialization.Xml/obj
/FlekoFramework/packages
/FlekoFramework/TestResults
/FlekoFramework/UnitTests/bin
/FlekoFramework/UnitTests/obj
/FlekoFramework/FlekoFramework.sln.DotSettings.user

