################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlekoFramework/.vs/FlekoFramework/v15
/FlekoFramework/Common/bin/Debug
/FlekoFramework/Common/obj
/FlekoFramework/Common.Accounts/bin/Debug
/FlekoFramework/Common.Accounts/obj
/FlekoFramework/Common.Logging.Windows/bin/Debug
/FlekoFramework/Common.Logging.Windows/obj
/FlekoFramework/Common.Math/bin/Debug
/FlekoFramework/Common.Math/obj
/FlekoFramework/Common.Network/bin/Debug
/FlekoFramework/Common.Network/obj
/FlekoFramework/Common.Plugins/bin/Debug
/FlekoFramework/Common.Plugins/obj
/FlekoFramework/Common.Plugins.Windows/bin/Debug
/FlekoFramework/Common.Plugins.Windows/obj/Debug
/FlekoFramework/Common.Serizalization.Windows/bin/Debug
/FlekoFramework/Common.Serizalization.Windows/obj
/FlekoFramework/Common.Video/bin/Debug
/FlekoFramework/Common.Video/obj
/FlekoFramework/packages
/FlekoFramework/TestResults
/FlekoFramework/UnitTests/bin/Debug
/FlekoFramework/UnitTests/obj
/FlekoFramework/FlekoFramework.sln.DotSettings.user
