################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlekoFramework/.vs
/FlekoFramework/Common/bin
/FlekoFramework/Common/obj
/FlekoFramework/Common.Accounts/bin
/FlekoFramework/Common.Accounts/obj
/FlekoFramework/Common.Logging.Windows/bin
/FlekoFramework/Common.Logging.Windows/obj
/FlekoFramework/Common.Math/bin
/FlekoFramework/Common.Math/obj
/FlekoFramework/Common.Network/bin
/FlekoFramework/Common.Network/obj
/FlekoFramework/Common.Plugins/bin
/FlekoFramework/Common.Plugins/obj
/FlekoFramework/Common.Plugins.Windows/bin
/FlekoFramework/Common.Plugins.Windows/obj
/FlekoFramework/Common.Serizalization.Windows/bin
/FlekoFramework/Common.Serizalization.Windows/obj
/FlekoFramework/Common.Video/bin
/FlekoFramework/Common.Video/obj
/FlekoFramework/Common.Serialization.Xml/bin
/FlekoFramework/Common.Serialization.Xml/obj
/FlekoFramework/packages
/FlekoFramework/TestResults
/FlekoFramework/UnitTests/bin
/FlekoFramework/UnitTests/obj
/FlekoFramework/FlekoFramework.sln.DotSettings.user

/FlekoFramework/.vs
/FlekoFramework/Flekosoft.Common/obj
/FlekoFramework/Flekosoft.Common/bin
/FlekoFramework/Flekosoft.Common.Accounts/bin
/FlekoFramework/Flekosoft.Common.Accounts/obj
/FlekoFramework/Flekosoft.Common.Logging.Windows/bin
/FlekoFramework/Flekosoft.Common.Logging.Windows/obj
/FlekoFramework/Flekosoft.Common.Math/obj
/FlekoFramework/Flekosoft.Common.Math/bin
/FlekoFramework/Flekosoft.Common.Network/obj
/FlekoFramework/Flekosoft.Common.Network/bin
/FlekoFramework/Flekosoft.Common.Plugins/obj
/FlekoFramework/Flekosoft.Common.Plugins/bin
/FlekoFramework/Flekosoft.Common.Plugins.Windows/obj
/FlekoFramework/Flekosoft.Common.Plugins.Windows/bin
/FlekoFramework/Flekosoft.Common.Serialization.Xml/obj
/FlekoFramework/Flekosoft.Common.Serialization.Xml/bin
/FlekoFramework/Flekosoft.Common.Video/obj
/FlekoFramework/Flekosoft.Common.Video/bin
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.csproj.user
/FlekoFramework/Flekosoft.Common.Plugins.Windows/Flekosoft.Common.Plugins.Windows.csproj.user
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.0.nupkg
/FlekoFramework/Flekosoft.Common.Plugins.Windows/Flekosoft.Common.Plugins.Windows.1.0.0.nupkg
/FlekoFramework/Flekosoft.Common.Plugins.Windows/nuget.exe
/FlekoFramework/Flekosoft.Common.Logging.Windows/nuget.exe
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.1.nupkg
/FlekoFramework/Flekosoft.Common.Plugins.Windows/Flekosoft.Common.Plugins.Windows.1.0.1.nupkg
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.2.nupkg
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.3.nupkg
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.0.zip
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.5.zip
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.4.nupkg
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.7.nupkg
/FlekoFramework/Flekosoft.Common.Logging.Windows/Flekosoft.Common.Logging.Windows.1.0.6.nupkg
